@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mystery+Quest&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #4D2E5E;
  color: #F2F2F2;
}

h1, h2, h3 {
  font-family: 'Mystery Quest', cursive;
  color: #F6E27F; 
}
.menu ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border: 2px dotted #F6E27F;
    padding: 5px 10px;
    border-radius: 8px;
  } 

  .menu a {
    color: #8effaa; 
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #F6E27F;
  }
  
  .name {
    font-size: 2rem;
    color: #F6E27F;
  }
  